    @{
    ViewBag.Title = "Index";
    }

    <a name="services"></a>
        <div class="container" align="justify">
            <h3 class="text-center text-success">Cultivo do Milho</h3>
            <p>Nos últimos anos, notadamente a partir do final de década de 90, as doenças têm se tornado uma grande preocupação por parte de tédcnicos e produtores envolvidos no agronegócio do milho. Relatos de perdas na produtividade devido ao ataque de patógenos têm sido frequentes nas principais regiões produtoras do país. Nesse contexto, vale destacar a severa epidemia de cercosporiose ocorrida na região Sudoeste do estado de Goiás no ano de 2000, na qual foram registradas perdas superiores a 80% na produtividade.</p>
            <p>É importante entendermos que a evolução das doenças do milho está estreitamente relacionada à evolução do sistema de produção desta cultura do Brasil. Modificações ocorridas no sistema de produção, que resultaram no aumento da produtividade da cultura, foram, também, responsáveis pelo aumento da incidência e da severidade das doenças. Desse modo, a expansão da fronteira agrícola, a ampliação das épocas de plantio (safra e safrinha), a adoção do sistema de plantio direto, o aumento do uso de sistemas de irrigação, a ausência de rotação de cultura e o uso de materiais suscetíveis têm promovido modificações importantes na dinâmica populacional dos patógenos, resultando no surgimento, a cada safra, de novos problemas para a cultura relacionados à ocorrência de doenças.</p>
            <a class="btn btn-success col-lg-12" href="~/Process/Upload">Fazer Teste de Imagem</a>
        </div>
<label>@ViewBag.Retorno</label>

